{% load static %}

<!-- <div id="messages-container">
    {% for message in messages %}
        <hr>
        <p>Отправитель: {{ message.sender_name }}</p>
        <p>Сообщение: {{ message.message }}</p>
        <p>Отправлено: {{ message.sent_at }}</p>
        <hr>
    {% endfor %}
</div> -->

<!-- <div id="messages-container">
    {% for number in numbers %}
        <hr>
        <p>Число: {{ number.number }}</p>
        <hr>
    {% endfor %}
</div> -->

<a href="#" onclick="doSomethingCool(event);">Кликни здесь!</a>

<script>
function doSomethingCool(event) {
  event.preventDefault(); // Предотвращаем перезагрузку страницы
  alert('Привет от JavaScript!');
}
</script>

<script src="{% static 'messages_app/src/js/ajax.js' %}"></script>