{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Диспетчер задач</title>
</head>
<body>

    <!-- Контейнер с таблицей -->
    <div class="table-container">
        <div class="table">
            <div class="header-row">
                <div><span>Имя</span><span class="resizer"></span></div>
                <div><span>PID</span><span class="resizer"></span></div>
                <div><span>Память</span><span class="resizer"></span></div>
                <div><span>ЦП</span><span class="resizer"></span></div>
            </div>
            <!-- process-row строки добавляются через ajax -->
        </div>
    </div>

    <!-- Нижняя панель -->
    <div class="bottom-bar">
        <button class="btn">Снять задачу</button>
    </div>

    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>